    <input type="text" name="email" id="email" />
    <button id="search_email">検索</button>
    <div id="search_result"></div>
    
<script>
$(document).on('turbolinks:load', (function(){
      $('#search_email').click(function(){
        let email = $('#email').val();
        $.ajax({
          type: 'GET',
          url: '/search_func',
          data: {search: email},
          dataType: 'json'
        })
        .done(function(data){
          $('#search_result').append('<table id="table_email"></table>');
          $.each(data.users, function(index,val){
            $('#table_email').append(
              $('<thead></thead>')
              .append('<tr></tr>')
              .append('<th>検索結果</th>')
              .append('<tbody></tbody>')
              .append('<tr></tr>')
              .append(`<td>${val.email}</td>`)
            )
          })
          console.log(data.users)
        })
      })
    }))
</script>